/* DogSite Homepage */


body {
    background: url("/static/img/paper.png");
    background-size: cover;
    color: black;
    text-align: center;

}

#match {
    color:#66ffff;
}

.jumbotron {
    background: url("/static/img/dogs_picture.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
#signup {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;

}

#login {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 10px;
}

#background-l {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    width: 400px;
}

#background-r {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    width: 400px;
}

.navbar {
    margin-bottom: 0;
}

form { 
margin: 0 auto; 
width:250px;
}


/* The footer always appears at the bottom of the browser window. */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}
