<!doctype html>
<html>
<head>
    <title>DogSite</title>
    <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <img src="/static/img/Doglogo.png">
            <a class="navbar-brand" href="/">DogSite</a>
        </div>
            {% if "user_id" in session %}
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">   
                    <li><a href="/favorites">Favorite Dogs</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/search_form">Search</a></li>
            </div>
            {% endif %}
        </div>
    </nav>



<!-- {% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% endif %}

{% if "user_id" in session %}
<a href="/favorites">Favorites </a>
{% endif %}

{% if "user_id" in session %}
<a href="/search_form"> Search Dogs </a>
{% endif %} -->
<!-- <hr> -->

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>