<!doctype html>
<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <!-- <link rel="stylesheet" href="/static/css/site.css"/> -->
    <title>Pets</title>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>





<body>



{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% endif %}

{% if "user_id" in session %}
<a href="/favorites">Favorites </a>
{% endif %}

{% if "user_id" in session %}
<a href="/search_form"> Search Dogs </a>
{% endif %}
<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>