{% extends 'base.html' %}
{% block content %}

<h1>Adoptable Dogs</h1>

<div id="googleMap" style="width:500px;height:380px;"></div>
    
    
    {% if pets %}

    {% for pet in pets %}

       <div>
            
            <div>
                <h2>Name: {{ ( pet.get('name',{}) ).get('$t') }}</h2>
            </div> 

            <div>
                <p> Breeds: {% for breed in pet['breeds']['breed'] %}
                    {{ breed.get('$t') }},
                {% endfor %}</p>
            </div>  

            <div>
                <p> Age: {{ ( pet.get('age',{}) ).get('$t') }} </p>
            </div>
            <br>
            <div>
                <button class="pet-fav {{ pet['fav'] }}" 
                data-petid= "{{ pet.get('id')['$t'] }}" 
                data-age="{{ ( pet.get('age',{}) ).get('$t') }}" 
                data-breed= "{% for breed in pet['breeds']['breed'] %}{{ breed.get('$t') }},{% endfor %}"
                data-name= "{{ ( pet.get('name',{}) ).get('$t') }}"
                data-size= "{{ ( pet.get('size',{}) ).get('$t') }}"
                data-zipcode= "{{ (pet.get('contact', {})).get('zip', {}).get('$t') }}"
                data-photo= "{{  ( ( ( pet.get('media',{}) ).get('photos', {}) ).get('photo', ['','',{}])[2] ).get('$t') }}"
                data-gender= "{{ ( pet.get('sex',{}) ).get('$t') }}"
                data-fav =  "{{ pet['fav'] }}"

                type="button">Favorite Me!</button>
            </div>
            <br>
            <a href="/idv_pet/{{ pet.get('id')['$t'] }}"> Check me out! </a>
          
            
            <div>
                 <img src={{  ( ( ( pet.get('media',{}) ).get('photos', {}) ).get('photo', ['','',{}])[2] ).get('$t') }}>

            </div>

            
        

    {% endfor %}

    {%  else %}
        <div>
            <h1> Sorry. No pets found.  </h1>

        </div>
    
    {% endif %}

    <!-- <div id="googleMap" style="width:500px;height:380px;"></div> -->

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMF6RlD6sQICD69YtAjoGcQpfgB5nUIXY"></script>

<script>
    "use strict";
    // console.log("Anything")

    function updatedFav(results) {
        console.log(results)

    }

    function addFav(evt) {
        var petID = $(this).data('petid');
        // debugger;

        var age = $(this).data('age');
        var breed = $(this).data('breed');
        var name = $(this).data('name');
        var size = $(this).data('size');
        var zipcode = $(this).data('zipcode');
        var photo = $(this).data('photo');
        var gender = $(this).data('gender');



        $.post("/fav", {'petID': petID, 'age': age, 'breed': breed, 'name': name, 'size': size, 'zipcode': zipcode, 'photo': photo, 'gender': gender},  updatedFav);

        // console.log(petID)

    }


    $(".pet-fav").on("click", addFav);

    $(".pet-fav").on("click", function(event) {
      $(event.target).prop("disabled", true);
      $(event.target).css("background-color", "red")


    });


    // implementation of AJAX using JQuery

    function zipLat(zipcode, map) {
   
    var zip = zipcode.toString()
    var address = zip;
    // console.log(address)

    var pet = new google.maps.Geocoder();

    pet.geocode( {'address': address}, 
        function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
             var lat = results[0].geometry.location.lat();
             // console.log(lat);
             var lng = results[0].geometry.location.lng();
             // console.log(lng)  
             petMarker(lat,lng, map);
            }
          else {
            // alert("Geocode was not successful for the following reason: " + status);
            console.log("not successful")
          }
          return lat, lng;    

      });

    // console.log('inside ziplat');

    // var t = 'nothing';

    // setTimeout(   function(){ t = lat; console.log(t);}   , 3000);
    
}


function initialize() {

// console.log("in initialize")

  var mapProp = {
    // center:new google.maps.LatLng(37.0902,-95.7129),
    center:new google.maps.LatLng(37.7347,-122.2143),
    // zoom:3,
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  return map;

}

// var image = {
//           url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
//           // This marker is 20 pixels wide by 32 pixels high.
//           size: new google.maps.Size(20, 32),
//           // The origin for this image is (0, 0).
//           origin: new google.maps.Point(0, 0),
//           // The anchor for this image is the base of the flagpole at (0, 32).
//           anchor: new google.maps.Point(0, 32)
//         };

function petMarker(lat, lng, map) {

    // console.log("Got to petMarker")

     var marker = new google.maps.Marker({
          position: {lat: lat, lng: lng},
          map: map,
          animation: google.maps.Animation.DROP,
          title: 'Hello World!'
        });

    marker.setMap(map)


}


function mapsFunc(){
    google.maps.event.addDomListener(window, 'load', function () {
     var map =  initialize();
      // var latlngs = [];


      $.each($('.pet-fav'), function (i, button){

          var zipcode = $(button).data('zipcode');
          // console.log
          zipLat(zipcode, map);
          // latlngs.push(latLong);
          // console.log(latLong);


      });
      // for (var i = 0; i < latlngs.length; i++) {
      //   console.log('Inside for loop')
        // var ll = latlngs[i];
        // var zipStr = zip.toString();
        
      

  });

    // console.log('**************last lat lng values****************');
    // console.log(lat);
    // console.log(lng);
    // console.log('*************************************************');
}

mapsFunc();




// var lat = '';
// var lng = '';
// zipLat('{{ zipcode }}');



// setTimeout('mapsFunc()', 4000);

// function getZips(){

// var buttons = $(this).data('zipcode');

//empty array, append each latlong from zip

// var listZips = [];


// $.each($('.pet-fav'), function (i, button){

//     var zipcode = $(button).data('zipcode');
//     // console.log
//     listZips.push(zipcode);
//     var latLong = zipLat('zipcode');
//     // console.log(latLong);

// });





// console.log(listZips)

// for (var i = 0; i < listZips.length; i++) {
//     console.log('Inside for loop')
//     var zip = listZips[i];
//     var zipStr = zip.toString();
//     // console.log(zip)
//     // setTimeout(zipLat(zipStr), 4000);
//     // setTimeout(petMarker(lat,lng,map), 1000);
//     // setTimeout(mapsFunc(), 8000);
//     // zipLat(zipStr);
//     console.log('after petLatLng is called')
//     console.log(petLatlng)

// }
// var latLong = zipLat('listZips');






// console.log(buttons)
// console.log(typeof(buttons))

// var pets = ["{% for pet in pets %}{{ (pet.get('contact', {})).get('zip', {}).get('$t') }}{% endfor %}"];
// console.log(pets)

// var pets = ['{{ pets }}']
// console.log(pets)
// console.log(typeof(pets))



 
// for (var i = 0; i < buttons.length; i++) {
//     var singleButton = buttons[i];
//     console.log(singleButton.data('zipcode'))
// }

// }


// getZips()

// function markFavs() {
//       $(this).prop("disabled", true);
//       $(this).css("background-color", "red")

//     }


$(document).ready( function() {
    var buttons = $('.has-been-favorited').prop("disabled", true).css("background-color", "red");
    // console.log(buttons);
    // for (var i = 0; i < buttons.length; i++) {
    //   var singleButton = buttons[i];
    //   console.log(singleButton.data('fav'));
    //   console.log("we are here")
  // }

});


</script>

{% endblock %}