{% extends 'base.html' %}
{% block content %}

{% block head %}
  <link rel="stylesheet" href="/static/css/homepage.css">
  
  <h1 align="center">Welcome to DogSite</h1>

{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
  <div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
      <div id="background-r" class="col-md-4 col-md-offset-3">
        <h2 id="signup">Sign Up</h2>
          <form action="/register" method="POST">
            <input name="firstname" type="text" name="first_name"placeholder="First Name">
            <input name= "lastname"type="text" name="last_name"placeholder="Last Name">
            <input name= "zipcode" type="text" name="zipcode" placeholder="Zipcode">
            <input name= "email" type="email" name="email"placeholder="Email Address">
            <input name= "password" type="password" placeholder="Password">
            <div>
              <input class="btn" type="submit" value="Register">
            </div>
          </form>
      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
        <div id="background-l" class="col-md-6 col-md-offset-3">
          <h2 id="login">Login</h2>
          <form action="/login" method="POST">    
            <div>
                <label>
                    Email Address:
                    <input type="email" name="email" value="cindy@gmail.com">
                </label>    
            </div>     
            <div>
                <label>
                    Password:
                    <input type="password" name="password" value="baba123">
                </label>
            </div>
            <div>
                <input class="btn" type="submit" value="Login">
            </div>
          </form>
                    
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}



{% endblock %}