{% extends 'base.html' %}
{% block content %}

{% block head %}
  <link rel="stylesheet" href="/static/css/homepage.css">
<!--   
  <h1 align="center" style="color: white;">Welcome</h1> -->

{% endblock %}

{% block body %}

 <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
          <h1 style="color: white;">Welcome</h1> 
          <h2 id="match">Find your perfect match.</h2> 
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>


<div class="container">
    <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                <form action="/register" method="POST" id="background-r" style="text-align: center">
                  <h2 id="signup">Sign Up</h2>
                  <input type="text" name="first_name" placeholder="First Name">
                  <input type="text" name="last_name" placeholder="Last Name">
                  <input type="email" name="email" placeholder="Email Address">
                  <input name= "password" type="password" placeholder="Password">
                  <input type="text" name="zipcode" placeholder="Zipcode">
                  <div>
                    <input class="btn" type="submit" value="Register">
                  </div>
                </form>
             </div>
             
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                
                    <form action="/login" method="POST" id="background-l" style="text-align: center">   
                      <h2 id="login">Login</h2> 
                        <div>
                            <label>
                                Email Address:
                                <input type="email" name="email" value="cindy@gmail.com">
                            </label>    
                        </div>     
                        <div>
                            <label>
                                Password:
                                <input type="password" name="password" value="baba123">
                            </label>
                        </div>
                        <div>
                            <input class="btn" type="submit" value="Login">
                        </div>
                    </form>
                              
              </div>
      <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-1"> -->
        
             
              <!-- </div> -->
    </div>

</div>

    




{% endblock %}



{% endblock %}