{% extends 'base.html' %}
{% block content %}

<h1>Login</h1>
    
<form action="/login" method="POST">
    
    <div>
        <label>
            Email Address:
            <input type="email" name="email" value="cindy@gmail.com">
        </label>    
    </div>
    
    <div>
        <label>
            Password:
            <input type="password" name="password" value="baba123">
        </label>
    </div>

    <div>
        <input type="submit" name="Login">
    </div>

</form>


{% endblock %} 