{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/favorites.css">

<h2>Favorite Dogs</h2>
   {% for pet in pets %}
    <div class="col-xs-4 col-md-4 col-lg-4"> 
        <div id="background">  
             <div>
                <h1>{{ pet.name }} </h1> 
             </div>
             <div>
                <p>Gender: {{ pet.gender }}</p>
             </div>
             <div>
                <p>Zipcode: {{ pet.zipcode }}</p>
             </div>
             <a href="/idv_pet/{{ pet.api_id }}"><img id="photo" src={{ pet.photo_url }}></a>
        </div>
    </div>

     
    
    {% endfor %}

{% endblock %}


       

