{% extends 'base.html' %}
{% block content %}

<h2>Check me out</h2>
    

    
        <div>
            <div>
                <h1>Name: {{pet.get('name')['$t']}}</h1>
            </div>
            
            <div>
                Gender: {{ pet.get('sex')['$t'] }}
            </div>
            
            <div>
                Mixed Breed: {{pet.get('mix')['$t']}}
            </div>

            <div>
                Breeds:{% for breed in breeds %}<li>{{ breed.get('$t') }}</li>
                {% endfor %}
            </div>
            
            <div>
                {% if pet['contact'].get('address1') %}
                 Address: {{ pet['contact'].get('address1')['$t']}}
                {% endif %}
            </div>
           

            <div>
                {% if  pet['contact'].get('city') %}
                    {{  pet['contact'].get('city')['$t']}}
                {% endif %}
            </div>

              <div>
                {% if  pet['contact'].get('email') %}
                    Email: {{  pet['contact'].get('email')['$t']}}
                {% endif %}
            </div>

             <div>
                {% if  pet['contact'].get('phone') %}
                    Phone Number: {{  pet['contact'].get('phone')['$t']}}
                {% endif %}
            </div>

             <div>
                {% if  pet['contact'].get('zip') %}
                    Zipcode: {{  pet['contact'].get('zip')['$t']}}
                {% endif %}
            </div>
            
                {% if pet.get('media', {}).get('photos',{}).get('photo')  %}
                    <img src={{pet.get('media')['photos']['photo'][2]['$t']}}>
                {% endif %}
                
            <div>
                 <p>{{pet.get('description').get('$t','')}}</p>
            </div>

            <a href="#" id="fav" title="[+] Add as favorite">&nbsp;</a>
            
        </div>


    





{% endblock %}