{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/css/specific-pet.css">
     
        
            <div>
                <h1 id="name">{{pet.get('name')['$t']}}</h1>
            </div>
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-6">
        {% if pet.get('media', {}).get('photos',{}).get('photo')  %}
                    <img id="photo" src={{pet.get('media')['photos']['photo'][2]['$t']}}>
                {% endif %}
        </div>
        <div id="information" class="col-xs-12 col-md-6 col-lg-4">
            <div>
                <h5>Gender: {{ pet.get('sex')['$t'] }}</h5>

            </div>
            
            <div>
                <h5>Mixed Breed: {{pet.get('mix')['$t']}}</h5>
            </div>

            <div>
                <h5>Breeds:<br>{% for breed in breeds %}{{ breed.get('$t') }}
                {% endfor %}</h5>
            </div>
            
            <div>
                {% if pet['contact'].get('address1') %}
                 <h5>Address: {{ pet['contact'].get('address1')['$t']}}</h5>
                {% endif %}
            </div>
           
            <div>
                {% if  pet['contact'].get('city') %}
                    <h5>City: {{  pet['contact'].get('city')['$t']}}</h5>
                {% endif %}
            </div>

              <div>
                {% if  pet['contact'].get('email') %}
                    <h5>Email: {{  pet['contact'].get('email')['$t']}}</h5>
                {% endif %}
            </div>

             <div>
                {% if  pet['contact'].get('phone') %}
                    <h5>Phone Number: {{  pet['contact'].get('phone')['$t']}}</h5>
                {% endif %}
            </div>

             <div>
                {% if  pet['contact'].get('zip') %}
                    <h5>Zipcode: {{  pet['contact'].get('zip')['$t']}}</h5>
                {% endif %}
            </div>          
            
        </div>
        
    </div>
                
            <div id="description"class="col-xs-12 col-md-6 col-lg-12">
                <h3>Description</h3>
                    <div id="details"><p>{{pet.get('description').get('$t','')}}</p></div>  
            </div>


    





{% endblock %}