{% extends 'base.html' %}
{% block content %}

<h2>Individual Pet</h2>
    

    
        <div>
            <div>
                <h1>{{pet.get('name')['$t']}}</h1>
            </div>
            <div>
                <li>{{pet.get('sex')['$t']}}</li>
            </div>
            <div>
                {% for breed in breeds %}
                <li>{{ breed.get('$t') }}</li>
                {% endfor %}
            </div>
            <div>
                <li> Mixed Breed: {{pet.get('mix')['$t']}}</li>
            </div>
            

            
            <div>
                {% if pet['contact'].get('address1') %}
                 {{ pet['contact'].get('address1')['$t']}}
                {% endif %}
            </div>
           

            <div>
                {% if  pet['contact'].get('city') %}
                    {{  pet['contact'].get('city')['$t']}}
                {% endif %}
            </div>
            
          
                <img src={{pet.get('media')['photos']['photo'][2]['$t']}}>
            <div>
                 <p>{{pet.get('description')['$t']}}</p>
            </div>

            <a href="#" id="fav" title="[+] Add as favorite">&nbsp;</a>
            
        </div>


    





{% endblock %}